@model IEnumerable<ExemploMVC.Models.Produto>
@{
    ViewData["Title"] = "Produtos";
}
<h1>Produtos</h1>
<p>Abaixo os produtos listados:</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ExemploMVC.Models.Produto produto in Model)
        {
        <tr>
            <td>
                @produto.Id
            </td>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="Produto" asp-action="Unidade">
                    @produto.Nome
                </a>
            </td>
            <td>
                @produto.Valor
            </td>
            <td>
                @produto.Quantidade
            </td>
        </tr>
        }
    </tbody>
</table>

