@{
    ViewData["Title"] = "Nome do produto";
}
<h1>Nome do produto</h1>
<ul>
    <li>Quantidade: 99</li>
    <li>Valor: 99</li>
</ul>
<a class="nav-link text-dark" asp-area="" asp-controller="Produto" asp-action="Index">Voltar</a>